.widget-events-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


.widget-events-header-container h2 {
    font-size: 1.5vw;
    font-weight: 800;
}

.events-page-widget-events-container {
    display: flex;
    flex-direction: column;
    gap: 10%;
    height: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-bottom: 5%;
}

.events-page-widget-events-container::-webkit-scrollbar {
    display: none;
}

.events-page-widget-events-container:hover {
    cursor: pointer;
}

.events-widget-event-item {
    padding: 2.5% 2.5%;
    /* background-image: url("/public/event_comet.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
    color: white;
    text-align: center;
    text-transform: capitalize;
    min-height: 75px;
    border-radius: 33px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 600;
    margin: 5%;
}

.events-widget-event-item:hover {
    cursor: pointer;
}

.events_link {
    color: white;
    text-decoration: none;
}

.events_link:hover {
    color: white;
    text-decoration: underline;
}