.box {
    /* height: 514px; */
    position: relative;
    /* width: 429px; */
}

.box .forecast-2 {
    border-radius: 5px;
    height: 514fr;
    left: 0;
    overflow: hidden;
    /* position: fixed; */
    top: 0;
}

.box .property-default {
    left: 20px;
    /* position: absolute; */
    top: 20px;
}

.box .property {
    left: 20px;
    top: 267px;
}