.widget {
    padding: 15px;
    border-radius: 33px;
    background: var(--widget, linear-gradient(97deg, #170A6A 4.66%, #0C033F 54.48%));
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    /* margin: 20px auto; */
    font-family: Arial, sans-serif;
    height: 100%;
    padding: 2% 5%;
    display: flex;
    flex-direction: column;
    gap: 5%;

}

.wheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2.5%;
    padding-right: 2.5%
}

.wtitle {
    color: rgba(255, 255, 255, 0.901);
    font-family: Inter;
    font-size: 1vw;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    /* 183.333% */
    letter-spacing: 0.4px;
}

.wicon {
    font-size: 20px;
}

.wlevel-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 10%;
    justify-content: start;
    align-items: start;
}

.wlevel-container p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.wlevel {
    color: #FFF;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    /* 73.333% */
    letter-spacing: 0.9px;
    text-align: left;
}

.wsubtitle {
    font-weight: 700;
}