h1,
h2,
p {
    color: white;
    text-align: center;
}



#sidebar {
    height: 100%;
    background-color: red;
    position: absolute;
    width: 30%;
    background: linear-gradient(0deg, #263094, #263094);
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 5%;
    gap: 2%;
}

@media screen and (max-width: 768px) {

    /* Small screens */
    #sidebar {
        width: 100%;
    }
}

@media screen and (min-width: 769px) {

    /* Large screens */
    #sidebar {
        width: 30%;
    }
}

.sidebar-items {
    background: linear-gradient(96.75deg, #170A6A 4.66%, #0C033F 54.48%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 90%;
    color: white;
    text-align: center;
    padding-top: 8%;
    padding-bottom: 8%;
    border-radius: 10%;
    font-weight: 700;
    font-size: 18px;
    line-height: 122%;
    letter-spacing: 0.08em;
}

.sidebar-items:hover {
    cursor: pointer;
}

.lightbulb {
    margin-left: auto;
    cursor: pointer;
    width: 32px;
    height: 32px;
}


.root {
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow-y: auto;
}


.top_bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.search {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}


.search input {
    width: 50%;
    height: 37px;
    font-family: 'Afacad';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
    /* identical to box height, or 129% */
    letter-spacing: 5%;
    padding-left: 0.5%;
    text-align: center;
    color: #FFFFFF;
    box-sizing: border-box;
    background: linear-gradient(90deg, rgba(7, 13, 56, 0.26) 0%, rgba(2, 1, 20, 0.26) 100%);
    border: 2px solid rgba(147, 136, 136, 0.632);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.search input::placeholder {
    color: white;
    padding-left: 12px;
    font-family: 'Afacad';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
    /* identical to box height, or 129% */
    letter-spacing: 5%;
    text-align: center;
}

#menu_bar {
    margin-left: 1%;
    margin-top: 1%;
}

#sidebar_toggle:hover {
    cursor: pointer;
}

.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.weather_container {
    display: grid;
    gap: 2em;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(6, 1fr);
    padding-top: 0;
    transform-origin: top center;
    /* transform: scale(0.7); */
    /* zoom: 0.6; */
    place-items: center;
    height: 85%;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.weather_element {
    /* edit this later */
    /* outline: 2px solid white; */
    /* delete these two later ^^ */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.conditions {
    grid-column: span 2;
    grid-row: span 1;
}

.location {
    grid-column: span 2;
    grid-row: span 1;
}

.events {
    grid-column: span 2;
    grid-row: span 2;
    height: 100%;
}

.wind_and_rain {
    grid-column: span 2;
    grid-row: span 1;
}

.forecast_container {
    grid-column: span 2;
    grid-row: span 1;
}


.wind_and_weekly {
    grid-column: span 4;
    grid-row: span 1;
    height: 100%;
}

.weekly {
    grid-column: span 2;
    grid-row: span 1;

}

.reccommendations {
    grid-column: span 2;
    grid-row: span 1;
    padding-left: 5%;
    padding-right: 5%;
}

.recommendation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    /* min-width: 25rem; */
}

.recommendation a {
    color: white;
}

.recommendation_open_map {
    display: flex;
    align-items: center;
    gap: 4px;
}

.cloud_coverage {
    grid-column: span 4;
    grid-row: span 2;
}

.cloud_coverage img {
    width: 100%;
    height: 100%;
    /* object-fit: contain; */
}

.humidity {
    grid-column: span 1;
    grid-row: span 1;
}

.light_pollution {
    grid-column: span 1;
    grid-row: span 1;
}

#recommended_locations_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding-left: 5%;
    padding-right: 5%;
}